.form {
  border: 2px solid darkgrey;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-weight: bold;
  margin-bottom: 5px; 
  text-align: left; 
}

input {
  padding: 8px;
  width: 95%; 
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contactForm input:hover {
  background-color: #f0f8ff; 
  border-color: gray; 
}

.contactForm input:focus {
  background-color: #f0f8ff; 
  border-color: gray; 
}

.contactForm button {
  background-color: lightgrey;
  color: black;
  border-radius: 5px; 
  padding: 8px 15px;
  cursor: pointer;
  width: 50%; 
  border: 2px solid darkgrey;
}

.contactForm button:hover,
.contactForm button:focus { 
  border: 2px solid blue;
}